<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <style media="screen">
      .containe
      {
        background-color:#2C3335;
        width:100%;
        height:700px;
      }
      .jumbotron
      {
      background:#B83227;
      }

    </style>
    <div class="containe">
      <div class="jumbotron">
        <h1 class="display-4">Todo App Using Django</h1>
        <p class="lead">You can add,view,delete and update your task according to your schedule</p>
        <hr class="my-4">
        <ol>
          <li>You can add your task by writing is textarea above "Add button".</li>
          <li>Click on corresponding delete button of task if you want to delete that task.</li>
          <li>If you want to update write something in textarea first and then click on update button.</li>
        </ol>
        <p class="lead">
    <a class="btn btn-danger btn-lg" href="student/" role="button">Go Now!!</a>
  </p>
</div>
    </div>
  </body>
</html>
